<div id="content-container" style=" height:3300px;">  
	<div id="block-content">
		<h2>Local Attractions</h2>
		<br/><br/>
				
		<div id="block-row" style="min-height: 70px;">			
			<div id="block-span-content" style="width: 100%;"> <p>Anand Beach Resort is located in one of the most beautiful and much sought after tourism spot in the world- Kerala. While you are here, it would be worth the money and time to get to know more about Kerala and visit some very popular tourism places. Anand Beach Resort provides tour facilities to major attractions, in and around Thiruvananthapuram. 
			</p></div>
		</div>
		
		<h3 style="color: #ae611c;">Tour to nearby sightseeing spots</h3>

		<div id="block-row" style="min-height: 50px;">			
			<div id="block-span-content" style="width: 100%;"> <p>Kerala's many attractions include serene beaches, tranquil stretches of emerald backwaters, lush hill stations and exotic wildlife. From enchanting art forms and magical festivals, to historic and cultural monuments there really is something for everyone. 
			</p></div>
		</div>

		<div id="block-row">
			<div id="block-span"> <img src="images/attr1.jpg"></div>
			<div id="block-span-content"> <p> <b style="color:#8a5116">Kovalam</b><br/> <br/> Otherwise known as Paradise of the South, Kovalam is one among the must-visit places in Kerala. It is famous for its beautiful beaches and tourist resorts and is located just 9 km south of the resort. Stretching one kilometer starting from the iconic white and red lighthouse, the beach is home to dozens of bars, cafes, shops and Ayurvedic facilities  making this coconut lined beach a must-see destination for those visiting Kerala. There are three beaches here- Light House Beach, Hawah Beach and Samudra Beach. One to the south is the Light House beach and is the most popular. The beach’s shallow water is perfect for swimming.  
			</p></div>
		</div>

		<div id="block-row">
			<div id="block-span"> <img src="images/attr2.jpg"></div>
			<div id="block-span-content"> <p> <b style="color:#8a5116">Neyyar Wildlife Sanctuary</b><br/> <br/> About 30 kms from the resort is the Neyyar Reservoir which is the drainage basin of Mullayar and Kallar rivers. There is thick vegetation all around and it was declared a sanctuary in 1958. A large number of species such as elephants, wild boars, jungle cat, Nilgiri Langur etc. can be seen here. Lion safari park, crocodile rearing centre, deer farm and boating pull crowds to the sanctuary. Agasthyakoodam hills lies nearby which is also a location worth visiting.
			</p></div>
		</div>
		

		<div id="block-row">
			<div id="block-span"> <img src="images/attr3.jpg"></div>
			<div id="block-span-content"> <p> <b style="color:#8a5116">Thiruvallam Backwaters</b><br/> <br/> The meeting place of two rivers Killi and Karamana, Thiruvallam backwaters is a beautiful place and is very popular for canoe rides. A temple in honor of Lord Parushama, believed to be the creator of Kerala, is at Thiruvallam which attracts devotees from far and wide. 
			</p></div>
		</div>

		<div id="block-row">
			<div id="block-span"> <img src="images/attr4.jpg"></div>
			<div id="block-span-content"> <p> <b style="color:#8a5116">Padmanabhaswamy Temple</b><br/> <br/> This seven storied structure is a wonderful illustration of Kerala temple architecture and is located at about 11 kms from Somatheeram. Thousands of people come here throughout the year to pay tribute to the Hindu deity Lord Vishnu, to whom this temple is dedicated. The idol here is really special with Lord Vishnu reclining on Anantha, the king of snakes. This temple is a landmark of Thiruvananthapuram. In fact, the name Thiruvananthapuram means the land of Anantha.
			</p></div>
		</div>

		<div id="block-row">
			<div id="block-span"> <img src="images/attr5.jpg"></div>
			<div id="block-span-content"> <p> <b style="color:#8a5116">Kanakakkunnu Palace</b><br/> <br/> An excellent example of traditional Travancore architecture Kanakakkunnu palace is located in the city and at about 12 kms from Somatheeram. The grounds of the palace play host to a variety of cultural fests and activities.
			</p></div>
		</div>

		<div id="block-row">
			<div id="block-span"> <img src="images/attr6.jpg"></div>
			<div id="block-span-content"> <p> <b style="color:#8a5116">Napier museum</b><br/> <br/>It is an art and natural history museum established in 1855 and at a distance of nearly 13 kms from Somatheeram. It exhibits a large collection of bronze idols, sculptures, antiques, temple chariot and other items of historic relevance. The art gallery in this museum exhibits many famous paintings including those by the renowned artist Raja Ravi Varma. This museum was named after Lord Napier, the Governor of Madras from 1866-72
			</p></div>
		</div>


		<div id="block-row">
			<div id="block-span"> <img src="images/attr7.jpg"></div>
			<div id="block-span-content"> <p> <b style="color:#8a5116">The Thiruvananthapuram zoo</b><br/> <br/>It was built as an annexe to Napier museum. Many different species of animals can be seen here, brought from India as well as abroad. The reptile house and the Botanical garden also lie within the museum premises. The museum and the zoo are located at about 3 Kms from Thiruvananthapuram Central Railway Station
			</p></div>
		</div>

		<div id="block-row">
			<div id="block-span"> <img src="images/attr8.jpg"></div>
			<div id="block-span-content"> <p> <b style="color:#8a5116">Akkulam Tourist Village</b><br/> <br/>It forms a great picnic spot with boating facilities and a paddling pool. It is the best suited place for spending a relaxed evening. There is the children’s park and the picturesque surrounding to enjoy as well. It is located at about 10 km from Thiruvananthapuram city.
			</p></div>
		</div>

		<div id="block-row">
			<div id="block-span"> <img src="images/attr9.jpg"></div>
			<div id="block-span-content"> <p> <b style="color:#8a5116">Ashtamudi Lake</b><br/> <br/>Ashtamudi lake is made up of eight branches as suggested by the name (Ashta= Eight, Mudi= Branch). Located in Kollam, it is the second largest wetland ecosystem and is also known as the gateway to Kerala Backwaters. This is also a popular destination for houseboat cruises. The breathtaking beauty of the landscape and the peaceful environment are sure to impress anyone.
			</p></div>
		</div>

		<div id="block-row">
			<div id="block-span"> <img src="images/attr10.jpg"></div>
			<div id="block-span-content"> <p> <b style="color:#8a5116">Varkala Beach</b><br/> <br/>Varkala Beach is located at about 53 kms from Trivandrum. Tourists as well as natives take delight in watching the sunset and taking a dip in the mineral springs. The 800 year old Sri Janaradana Swamy temple situated in Varkala is very famous and is one of the major pilgrimage spots in Kerala. 
			</p></div>
		</div>

		<div id="block-row">
			<div id="block-span"> <img src="images/attr11.jpg"></div>
			<div id="block-span-content"> <p> <b style="color:#8a5116">Ponmudi</b><br/> <br/>Ponmudi is a picturesque hill station located at about 56 kms from Thiruvananthapuram city. There is a lot to see here - mist covered valleys, tea plantations and small rivulets. It is the best place to endeavor in some adventure sports like trekking, mountaineering, rock climbing etc.  
			</p></div>
		</div>

		<div id="block-row">
			<div id="block-span"> <img src="images/attr12.jpg"></div>
			<div id="block-span-content"> <p> <b style="color:#8a5116">Padmanabhapuram palace</b><br/> <br/>This spectacular example of Travancore style architecture is located at about 63 kms from Trivandrum. During the period of 16th - 18th centuries this palace acted as the seat of Travancore rulers. The workmanship of the artisans is awe-inspiring and their expertise can be seen throughout the palace- flooring made wholly with natural components, exquisitely carved wooden ceilings, dance halls with granite flooring, well-designed courtyards, underground passageways and so on. The palace is well preserved and gives the air of the life during that period with its architectural style, layout of the rooms, exquisite furniture, paintings etc.  
			</p></div>
		</div>

		<div id="block-row">
			<div id="block-span"> <img src="images/attr13.jpg"></div>
			<div id="block-span-content"> <p> <b style="color:#8a5116">Shangumukham Beach</b><br/> <br/>The evenings at Shangumukham beach is crowded with people from near and far, lazing along the beach to have a great time and for watching the sunset. Quite near to the Thiruvananthapuram Airport, Shangumukham beach forms a favorite place for a fine outing.  
			</p></div>
		</div>

		<div id="block-row">
			<div id="block-span"> <img src="images/attr14.jpg"></div>
			<div id="block-span-content"> <p> <b style="color:#8a5116">Kanyakumari</b><br/> <br/>Kanyakumari is located at the southern tip of the Indian peninsula. From the Kanyakumari beach, which overlooks the convergence of the Indian Ocean, the Arabian Sea and the Bay of Bengal, one could see a spectacular sunrise and sunset. About 400 metres into the sea, there is the Vivekananda Rock. This was where Swami Vivekanda, a great thinker and philosopher of India, attained enlightenment through deep meditation. The Vivekananda memorial is built on this rock and is accessible only by boat.
			</p></div>
		</div>
	</div>
</div>
