
<div id="content-container" style=" height:2100px;"> 
	<div id="block-content">
		<h2>Contact Us</h2>
		<br/>		<br/>
		<div id="block-row"  style="min-height: 386px;">
			<div id="block-span"> 
				<div class="content_box" style="min-height: 385px;">
					<h3 style="margin-top:0px; margin-bottom: 5px;">Anand Beach Resort</h3>
					<br/>
					 Reservation Manager, <br/>
					 Anand Beach Resorts, Pulinkudy, <br/>
					 Mulloor .P.O, Trivandrum - 695521, <br/>
					 Kerala, India.<br/><br/>

					 <b>Telephone:</b>+91 XXX XXX XXXX , +91 XXX XXX XXXX<br/>
					 <b>Fax:</b>+91 XXX XXX XXXX<br/>
					 <b>Email:</b>reservation@theanandbeachresorts.com
					 <b>Website:</b>www.anandbeachresorts.com<br/>
				</div>
			</div>
			<div id="block-span"  style="width:65%"> 
				<div class="content_box" style="margin-left:20px; min-height: 385px;">
					<h3 style="margin-top:0px; margin-bottom: 5px;">Getting There</h3>
					<br/>
					The Anand Beach Resort is located in southern India, in the State of Kerala, which is also known as God’s own country. It is about 21 kms from International Airport at Thiruvananthapuram and about 9 kms south of the famous Kovalam beach. 	
  					<br/><br/>
					The resort rests on the slopes of a hillock facing the endless expanse of the sea and a 600 km long beach. The climate is comfortable all the year around with the average temperature not climbing above 32º C. 			
				</div>
			</div>
		</div>
	</div>
</div>
