<div id="content-container" style=" height:2100px;">  
		<script>
	$(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
		event.preventDefault();
		return $(this).ekkoLightbox({
            always_show_close: true,
            gallery_parent_selector: '.gallery',
    });
	});
	</script>
	<div id="block-content">
		<h2>Learn more about Anand Beach Resort</h2>
		<br/>
		<h3  style="color: #ae611c;">Our Location</h3>
		<div id="block-row">
			<div id="block-span"> <img src="images/map.jpg"></div>
			<div id="block-span-content"> <p>  <br/>The resort along with a pristine beach and well laid out Villas result in the perfect environment for your Ayurveda and Yoga experience. Most of all it is our team at Anand that ensures your complete rejuvenation by providing a traditional Ayurvedic treatment with the utmost personalized care. The drive from the airport is about 30 minutes by taxi - and as you pass through the gates, the beauty of nature and beach begins. 
			</p></div>
		</div>

		<h3  style="color: #ae611c;">Villas and Rooms</h3>
		<div id="block-row" style="min-height: 70px;">			
			<div id="block-span-content" style="width: 100%;"> <p>The resort along with a pristine beach and well laid out Villas result in the perfect environment for your Ayurveda and Yoga experience. Most of all it is our team at Anand that ensures your complete rejuvenation by providing a traditional Ayurvedic treatment with the utmost personalized care. The drive from the airport is about 30 minutes by taxi - and as you pass through the gates, the beauty of nature and beach begins. 
			</p></div>
		</div>

		<h3  style="color: #ae611c;">Villa Categories</h3>
		<div id="block-row">
			<div id="block-span"> <img src="images/villa1.jpg"></div>
			<div id="block-span-content"> <p> <b>Independent Villa</b><br/> <br/> The resort along with a pristine beach and well laid out Villas result in the perfect environment for your Ayurveda and Yoga experience. Most of all it is our team at Anand that ensures your complete rejuvenation by providing a traditional Ayurvedic treatment with the utmost personalized care. The drive from the airport is about 30 minutes by taxi - and as you pass through the gates, the beauty of nature and beach begins. 
			</p></div>
		</div>
		<div id="block-row">
			<div id="block-span"> <img src="images/villa2.jpg"></div>
			<div id="block-span-content"> <p> <b>Twin Villa</b><br/> <br/> The resort along with a pristine beach and well laid out Villas result in the perfect environment for your Ayurveda and Yoga experience. Most of all it is our team at Anand that ensures your complete rejuvenation by providing a traditional Ayurvedic treatment with the utmost personalized care. The drive from the airport is about 30 minutes by taxi - and as you pass through the gates, the beauty of nature and beach begins. 
			</p></div>
		</div>
		<div id="block-row">
			<div id="block-span"> <img src="images/villa3.jpg"></div>
			<div id="block-span-content"> <p> <b>Deluxe Rooms</b><br/> <br/> The resort along with a pristine beach and well laid out Villas result in the perfect environment for your Ayurveda and Yoga experience. Most of all it is our team at Anand that ensures your complete rejuvenation by providing a traditional Ayurvedic treatment with the utmost personalized care. The drive from the airport is about 30 minutes by taxi - and as you pass through the gates, the beauty of nature and beach begins. 
			</p></div>
		</div>
		<h3  style="color: #ae611c;">Additional Facilities</h3>
		<div id="block-row"  style="min-height: 386px;">
			<div id="block-span"> 
				<div class="content_box" style="min-height: 385px;">
					<h3 style="margin-top:0px; margin-bottom: 5px;">Resort Facilities</h3>
					<br/>
					<ul>
						<li>Sea facing Lounge with Indoor Games and Wifi</li>
						<li>Tennis Court</li>
						<li>Swimming Pool with Jacuzzi</li>
						<li>Ayurveda and Souvenir Shop</li>
						<li>Over 2500 books at our Resort Library</li>
						<li>Laundry Service</li>
						<li>Taxi Service</li>
						<li>Complimentary Wifi at the Reception</li>
						<li>Cultural Programmes on Weekends</li>
						<li>Telephone, refrigerator, hot water and safe deposit box in all rooms </li>
						<li>Doctor on call</li>
						<li>Money changing facilities (we accept all currencies) </li>
						<li>VISA and Mastercard accepted</li>
					</ul>
				</div>
			</div>
			<div id="block-span"> 
				<div class="content_box" style="margin-left:20px; min-height: 385px;">
					<h3 style="margin-top:0px; margin-bottom: 5px;">Beach Facilities</h3>
					<br/>
					<ul>
						<li>Beach Umbrellas</li>
						<li>Reclining Beach Chairs</li>
						<li>Life Jackets</li>
						<li>Sea Kayaks</li>
						<li>Fishing Rods</li>
						<li>Security Personnel on the Beach 24/7</li>
					</ul>					
				</div>
			</div>
		</div>
		<h3  style="color: #ae611c;">Travel Desk</h3>
		<div id="block-row" style="min-height: 70px;">			
			<div id="block-span-content" style="width: 100%;"> <p>We also offer assistance in arranging various types of tours. We arrange backwater boat rides, sight seeing trips to local places of interest as well as other major tourist centers, on request.
			</p></div>
		</div>
		<h3  style="color: #ae611c;">Image Tour</h3>
		   	
		<div class="gallery">									
			<a href="/images/carosal1.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="" class="col-sm-4">
				<img src="/images/resort1.jpg" class="img-responsive">
			</a>
			<a href="/images/carosal2.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="" class="col-sm-4">
				<img src="/images/resort2.jpg" class="img-responsive">
			</a>
			<a href="/images/carosal3.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="" class="col-sm-4">
				<img src="/images/resort3.jpg" class="img-responsive">
			</a>			
		</div>
		</div>
	</div>


