<div id="content-container">
   <div ng-controller="CarouselDemoCtrl1">
      <div>
        <carousel interval="myInterval">
          <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" style="margin:auto;">
            <div class="carousel-caption">
             
            </div>
          </slide>
        </carousel>
      </div>
    </div>

  <div id="block-content">
      <h1>Welcome to Anand Beach Resorts.</h1>
      <h3>
      Anand Beach Resort is an ideal place to enjoy the fullness of the beauty of Kovalam, the enchanting beach destination. Located at Chowara Beach on a hillock 9 km south of the famous Kovalam Beach, Trivandrum, Kerala.
      </h3>
      <br/>
      <p>The resort along with a pristine beach and well laid out Villas result in the perfect environment for your Ayurveda and Yoga experience. Most of all it is our team at Anand that ensures your complete rejuvenation by providing a traditional Ayurvedic treatment with the utmost personalized care. The drive from the airport is about 30 minutes by taxi - and as you pass through the gates, the beauty of nature and beach begins. 
      </p>
      <br/>
      <p>
      Our goal is to provide this exceptional experience by bringing together the grace of nature and the healing touches of a traditional Ayurvedic Treatment.
      Enter the world of holistic healing and let Ayurveda and meditation restore your physical, mental, spiritual and emotional equilibrium. 
      </p> <br/><br/>

      <div class="row" style="max-width:100%; width:100%;position: relative;">  
          <div class="span4" style="float: left; width: 370px;">  
            <div class="post">
              <a href="#"><img src="images/explore-the-resort.jpg"></img></a>      
               
              <div class="content_box"><h3 style="margin-top:0px; margin-bottom: 5px;">Explore the Resort</h3><br/>The resort is set out in 16 acres of lush coconut groves by the  beach. The long sandy  beach and the wonderful views and traditional Kerala design of all our 52 Villas complement the Ayurveda experience provided. The villas are made with traditional Kerala elements rooted to Ayurveda and are available in four different categories. 
              </div>
            </div>            
          </div>  
           <div class="span4" style="float: left; width:100px; min-height: 300px;  width: 370px; margin-left: 10px;">  
            <div class="post">
              <a href="#"><img src="images/explore-the-yoga.jpg"></img></a>      
               
              <div class="content_box"><h3 style="margin-top:0px; margin-bottom: 5px;">Ayurveda and Yoga</h3><br/>The holistic medical science of Ayurveda lies at the very heart of our purpose. An array of personalised Ayurveda treatments and programmes has been carefully perfected by our Ayurveda doctors at our Ayurveda Centre ‘Swastha’.An array of personalised Ayurveda treatments and programmes has been carefully perfected.
              </div>
            </div> 
          </div>  
          <div class="span4" style="float: left; width:100px; min-height: 300px; width: 370px; margin-left: 10px;">  
            <div class="post">
              <a href="#"><img src="images/explore-the-local.jpg"></img></a>      
               
              <div class="content_box"><h3 style="margin-top:0px; margin-bottom: 5px;">Local Attractions</h3><br/>Popular with tourists since the 1930s, Kovalam Beach is only a 10-minute ‘tuk-tuk’ ride away from Resort and is a great place to pick up supplies. a ‘tuk-tuk’ is basically a motorbike with a shell on it’s back for passengers to ride in, making it a fun, breezy and inexpensive way to get around. 
              </div>
            </div> 
          </div> 
      </div>
  </div>
</div>
