
<div id="content-container" style=" height:1200px;"> 
	<div id="block-content">
		<h2>Prices</h2>
		<br/>
		<h3  style="color: #ae611c;">Ayurveda Package</h3>

		<table border="1" align="" class="tariff">
			<tbody>
				<tr>
					<td class="grey_title">Accommodation Type</td>
					<td class="grey_title" colspan="2">07 Nights Package</td>
					<td class="grey_title" colspan="2">14 Nights Package</td>
					<td class="grey_title" colspan="2">21 Nights Package</td>
					<td class="grey_title" colspan="2">28 Nights Package</td>
				</tr>
				<tr>
					<td rowspan="2">Superior Deluxe Villa (AC)</td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
				</tr>
				<tr>
					<td>1710</td>
					<td>2320</td>
					<td>3395</td>
					<td>4615</td>
					<td>5075</td>
					<td>6875</td>
					<td>6710</td>
					<td>9100</td>
				</tr>
				<tr>
					<td rowspan="2">Deluxe Villa (AC)</td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
				</tr>
				<tr>
					<td>1365</td>
					<td>2000</td>
					<td>2685</td>
					<td>3935</td>
					<td>4050</td>
					<td>5925</td>
					<td>5405</td>
					<td>7900</td>
				</tr>
				<tr>
					<td rowspan="2">Deluxe Twin Villa (AC)</td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
				</tr>
				<tr>
					<td>1295</td>
					<td>1910</td>
					<td>2555</td>
					<td>3780</td>
					<td>3845</td>
					<td>5675</td>
					<td>5130</td>
					<td>7570</td>
				</tr>
				<tr>
					<td rowspan="2">Twin Villa (AC)</td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
				</tr>
				<tr>
					<td>1225</td>
					<td>1825</td>
					<td>2425</td>
					<td>3630</td>
					<td>3650</td>
					<td>5435</td>
					<td>4865</td>
					<td>7250</td>
				</tr>
			</tbody>
		</table><br/><br/>
		<h3  style="color: #ae611c;">Non Ayurveda Package</h3>

		<table border="1" align="" class="tariff">
			<tbody>
				<tr>
					<td class="grey_title">Accommodation Type</td>
					<td class="grey_title" colspan="2">07 Nights Package</td>
					<td class="grey_title" colspan="2">14 Nights Package</td>
					<td class="grey_title" colspan="2">21 Nights Package</td>
					<td class="grey_title" colspan="2">28 Nights Package</td>
				</tr>
				<tr>
					<td rowspan="2">Superior Deluxe Villa (AC)</td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
				</tr>
				<tr>
					<td>1710</td>
					<td>2320</td>
					<td>3395</td>
					<td>4615</td>
					<td>5075</td>
					<td>6875</td>
					<td>6710</td>
					<td>9100</td>
				</tr>
				<tr>
					<td rowspan="2">Deluxe Villa (AC)</td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
				</tr>
				<tr>
					<td>1365</td>
					<td>2000</td>
					<td>2685</td>
					<td>3935</td>
					<td>4050</td>
					<td>5925</td>
					<td>5405</td>
					<td>7900</td>
				</tr>
				<tr>
					<td rowspan="2">Deluxe Twin Villa (AC)</td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
				</tr>
				<tr>
					<td>1295</td>
					<td>1910</td>
					<td>2555</td>
					<td>3780</td>
					<td>3845</td>
					<td>5675</td>
					<td>5130</td>
					<td>7570</td>
				</tr>
				<tr>
					<td rowspan="2">Twin Villa (AC)</td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
					<td class="tab_sub_title">Single</td>
					<td class="tab_sub_title">Double </td>
				</tr>
				<tr>
					<td>1225</td>
					<td>1825</td>
					<td>2425</td>
					<td>3630</td>
					<td>3650</td>
					<td>5435</td>
					<td>4865</td>
					<td>7250</td>
				</tr>
			</tbody>
		</table>
		<h3  style="color: #ae611c;">Terms and Conditions</h3>
		<div id="block-row" style="min-height: 70px;">			
			<div id="block-span-content" style="width: 90%;">  <ul>
				<li>Package includes Accommodation, All taxes, Ayurveda Treatment, Yoga, Full Board Ayurveda Vegetarian Meals, Trivandrum Airport Pickup and Drop</li>
				<br/>
                <li>Reservation will be confirmed against payment of 50% of total amount in advance. Advance amount will be refunded only if the booking is cancelled atleast 30 days before arrival date.</li><br/>
                <li>If you wish to experience Ayurveda with us for a shorter period of time i.e. 1-6 days, kindly contact reservations directly.</li><br/>
                <li>Kindly note that we can confirm your booking as per the Room Category and not the room number. Upon availability of Villas the Room number for your stay will be allotted.</li><br/>               
                <li>Payments Accepted in Currency</li>
                </ul>           			
			</div>
		</div>
	</div>
</div>
